@if(obtainedBadges().length === BADGES_LIST.length) {
<app-paper [playerName]="'Junior y Bárbara'"></app-paper>
}

<div class="map-layout">
  <!-- Imagen interactiva -->
  <div class="image-wrapper" #mapImage>
    <div class="image-container" (click)="clearSelection()">
      <img [src]="imageSrc" alt="Mapa interactivo" />

      <!-- Marcadores -->
      @for (marker of markers; track marker; let i = $index) {
      <div
        class="marker marker--{{marker.color}}"
        [class.player]="marker.characters === junBarCharacter?.characters"
        [style.left.%]="marker.x"
        [style.top.%]="marker.y"
        (click)="selectMarker(marker); $event.stopPropagation()"
      >
        ●
      </div>
      }
    </div>
    <app-theme-toggle />
  </div>

  <!-- Panel fijo de información -->
  <div
    class="info-panel"
    [style.height]="'calc(100vh - ' + (mapImageHeight + 80) + 'px)'"
  >
    @if(selectedMarker) { @if(selectedMarker.badge) {
    <div class="badge">
      <h3>Medalla {{ selectedMarker.badge.name }}</h3>
      <img
        [src]="selectedMarker.badge.image | noCache"
        alt="{{ selectedMarker.badge.name }}"
      />
    </div>
    } @if(selectedMarker.characters === junBarCharacter?.characters) {
    <h3>Medallas obtenidas</h3>
    <div class="badges">
      @for (badge of BADGES_LIST; track badge) {
      <img
        [src]="badge.image | noCache"
        alt="{{ badge.name }}"
        class="badge-image"
        [ngClass]="{
          locked: !obtainedBadges().includes(badge)
        }"
      />
      }
    </div>
    }
    <div class="images">
      @for (character of selectedMarker.characters; track character) {
      <div class="images__trainer">
        <img
          class="character"
          [src]="character.image | noCache"
          alt="{{ character.name }}"
        />
        <h3>{{ character.name }}</h3>
      </div>
      }
    </div>
    @if(showClue) {
    <p>{{ selectedMarker.info }}</p>
    } @else {
    <button (click)="obtainClue()">Obtener pista</button>
    } } @if(!selectedMarker) {
    <p>Haz clic en un marcador para ver los detalles.</p>
    }
  </div>
</div>
