@if(junBarCharacter?.obtainedBadges?.length === BADGES.length) {
<app-paper [playerName]="'Junior y Bárbara'"></app-paper>
}

<div class="map-layout">
  <!-- Imagen interactiva -->
  <div class="image-wrapper" #mapImage>
    <div class="image-container" (click)="clearSelection()">
      <img [src]="imageSrc" alt="Mapa interactivo" />

      <!-- Marcadores -->
      @for (marker of markers; track marker; let i = $index) {
      <div
        class="marker"
        [style.left.%]="marker.x"
        [style.top.%]="marker.y"
        (click)="selectMarker(marker); $event.stopPropagation()"
      >
        ●
      </div>
      }
    </div>
  </div>

  <!-- Panel fijo de información -->
  <div
    class="info-panel"
    [style.height]="'calc(100vh - ' + (mapImageHeight + 80) + 'px)'"
  >
    @if(selectedMarker) { @if(selectedMarker.badge) {
    <div class="badge">
      <h3>Medalla {{ selectedMarker.badge.name }}</h3>
      <img
        [src]="selectedMarker.badge.image | noCache"
        alt="{{ selectedMarker.badge.name }}"
      />
    </div>
    } @if(selectedMarker.obtainedBadges) {
    <h3>Medallas obtenidas</h3>
    <div class="badges">
      @for (badge of BADGES; track badge) {
      <img
        [src]="badge.image | noCache"
        alt="{{ badge.name }}"
        class="badge-image"
        [ngClass]="{
          locked: !selectedMarker.obtainedBadges.includes(badge)
        }"
      />
      }
    </div>
    }
    <div class="images">
      @for (character of selectedMarker.characters; track character) {
      <div class="images__trianer">
        <img
          class="character"
          [src]="character.image | noCache"
          alt="{{ character.name }}"
        />
        <h3>{{ character.name }}</h3>
      </div>
      }
    </div>
    <p>{{ selectedMarker.info }}</p>
    } @if(!selectedMarker) {
    <p>Haz clic en un marcador para ver los detalles.</p>
    }
  </div>
</div>
