<div class="image-container" (click)="clearSelection()">
  <img [src]="imageSrc" alt="Imagen interactiva" />
  @if(showGrid) {
  <div class="grid-overlay"></div>
  } @for (marker of markers; track marker; let i = $index) {
  <div
    class="marker"
    [style.left.%]="marker.x"
    [style.top.%]="marker.y"
    (click)="selectMarker(marker); $event.stopPropagation()"
  >
    ● @if(selectedMarker === marker) {
    <div class="tooltip">
      {{ marker.info }}
    </div>
    }
  </div>
  }
</div>
<button (click)="toggleGrid()">
  {{ showGrid ? "Ocultar" : "Mostrar" }} cuadrícula
</button>
